# Ignore All
*
!*/

# Git
!*.gitignore
!*.gitattributes
!*.gitkeep
!*.md

# VScode
!/.vscode/*

# Vivado
!/project/*.xpr
!/resource/wave/**/*.wcfg
!/resource/mem/**/*.mem

# Verilog
!/include/**/*.vh
!/src/**/*.v
!/test/**/*.v
