# Ignore All
*
!*/

# Git
!*.gitignore
!*.gitattributes
!*.gitkeep
!*.md

# VScode
!/.vscode/*

# Docment
!/docs/*.svg

# Vivado
!*.xpr

# Verilog
!/include/**/*.vh
!/src/**/*.v
!/test/**/*.v
