# Ignore All
*
!*/

# Git
!*.gitignore
!*.gitattributes
!*.gitkeep
!*.md

# VScode
!/.vscode/*

# Vivado
!/project/*.xpr
!/resources/waves/**/*.wcfg
!/resources/mems/**/*.mem

# Verilog
!/include/**/*.vh
!/src/**/*.v
!/test/**/*.v

# Report
!/docs/**/*.md
!/docs/images/*.svg
